## Numpy

### Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [2]:
import numpy as np

In [15]:
a=np.array([[1,6],
         [2,8],
         [3,11],
         [3,10],
         [1,7]])

In [7]:
print (a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [13]:
mean_a=np.mean(a, axis =0)

In [14]:
print(mean_a)

[2.  8.4]

### Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [17]:
a_centered = a- mean_a

In [18]:
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [26]:
a_centered_sp = a_centered.T[0] @ a_centered.T[1]

In [27]:
print (a_centered_sp)

8.0

In [32]:
a_centered_sp / (a_centered.shape[0]-1)

2.0

In [30]:
a_centered.shape

(5, 2)

## Pandas

In [34]:
import pandas as pd

### Задание 1

Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290]

In [36]:
authors = pd.DataFrame({'author_id':[1,2,3],
                       'author_name': ['Тургеньев', 'Чехов', 'Островский']},
                      columns=['author_id', 'author_name'])

In [37]:
print(authors)

   author_id author_name
0          1   Тургеньев
1          2       Чехов
2          3  Островский

In [40]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price':[450, 300, 350, 500, 450, 370, 290]},
                      columns=['author_id', 'book_title', 'price'])

In [41]:
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [42]:
authors_price= pd.merge(authors, book, on='author_id', how='inner')

In [43]:
print(authors_price)

   author_id author_name            book_title  price
0          1   Тургеньев           Отцы и дети    450
1          1   Тургеньев                 Рудин    300
2          1   Тургеньев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [44]:
authors_price= pd.merge(authors, book, on='author_id', how='outer')

In [45]:
print(authors_price)

   author_id author_name            book_title  price
0          1   Тургеньев           Отцы и дети    450
1          1   Тургеньев                 Рудин    300
2          1   Тургеньев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [46]:
authors_price= pd.merge(authors, book, on='author_id')

In [47]:
print(authors_price)

   author_id author_name            book_title  price
0          1   Тургеньев           Отцы и дети    450
1          1   Тургеньев                 Рудин    300
2          1   Тургеньев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [48]:
top5 = authors_price.nlargest(5, 'price')

In [49]:
print (top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1   Тургеньев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1   Тургеньев  Дворянское гнездо    350

### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [51]:
authors_stat = authors_price['author_name'].value_counts()

In [52]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})

In [53]:
authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price'})

In [54]:
print(authors_stat)

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургеньев         300       450  366.666667
Чехов             450       500  475.000000

### Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [59]:
import pickle

In [68]:
pickle.dump(authors_stat, open('book_info.pkl', 'wb'))

In [69]:
book_info_2 = pickle.load (open('book_info.pkl', 'rb'))

In [70]:
print(book_info_2)

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургеньев         300       450  366.666667
Чехов             450       500  475.000000